.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.content {
    background-color: #0f0f0f;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contentForm {
    width: 100%;
    padding: 0 24px;
    padding-bottom: 28px;
    max-width: 1050px; /* Adicione um limite para manter a proporção */
    margin-top: 58px;
}

.title {
    color: #fff;
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
}

.label {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}

.checkboxArea {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 14px 0 8px 0;
}

.checkbox {
    width: 18px;
    height: 18px;
}

.button {
    width: 100%;
    border: 0;
    border-radius: 4px;
    color: #fff;
    background-color: #3183ff;
    padding: 12px 0;
    font-size: 18px;
    margin-top: 8px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    max-width: 1050px; /* Define um limite igual ao do taskContainer */
}

.taskContainer {
    padding: 0 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1050px; /* Igual ao botão */
    margin-left: 142px;
}

.taskContainer a {
    text-decoration: none;
    color: #0f0f0f;
}

.myTasks {
    text-align: center;
    font-size: 32px;
    margin-bottom: 14px;
    font-family: "Roboto", sans-serif;
}

.task {
    margin-bottom: 14px;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1.5px solid #909090;
    border-radius: 4px;
    padding: 14px;
}

.tagContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
}

.tag {
    background-color: #3183ff;
    padding: 2px 6px;
    color: #fff;
    border-radius: 4px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

.shareButton,
.trashButton {
    background: transparent;
    border: 0;
    cursor: pointer;
    margin: 0 8px;
}

.taskContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.taskContent p {
    white-space: pre-wrap;
    font-family: "Roboto", sans-serif;
}

/* Responsividade */
@media (max-width: 1024px) {
    .contentForm,
    .taskContainer {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .contentForm {
        margin-top: 40px;
    }

    .content{
        width: 100%;
    }
}

@media (max-width: 480px) {

    .taskContainer {
        margin-left: 15px;
        max-width: 360px;
    }

    .content {
        height: auto;
        width: 100%;
    }

    .myTasks {
        font-size: 28px;
    }
}
