@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.container {
    background-color: #0f0f0f;
    width: 100%;
    min-height: calc(100vh - 76px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 16px;
}

.logoContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero {
    max-width: 480px;
    object-fit: contain;
    width: auto;
    height: auto;
}

.span {
    font-family: "Roboto", sans-serif;
}

.title {
    font-family: "Roboto", sans-serif;
    color: #FFF;
    text-align: center;
    margin: 28px;
    line-height: 150%;
    max-width: 800px;
}

.span {
    font-family: "Roboto", sans-serif;
}

.infoContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    background-color: #fafafa;
    padding: 14px 44px;
    border-radius: 4px;
    transition: transform 0.4s;
    gap: 10px;
    margin-left: 15px;
    padding: 12px 32px;
}

.box:hover {
    transform: scale(1.08);
}

@media screen and (max-width: 580px) {
    .hero {
        max-width: 100vh;
    }

    .title {
        font-size: 22px;
        margin: 20px;
    }

    .infoContent {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 100%;
        max-width: 200px; /* Reduz a largura dos botões */
        font-size: 14px; /* Reduz o tamanho da fonte */
        margin-bottom: 10px;
    }

    .container {
        width: auto;
    }
}