.header {
    width: 100vh;
    height: 76px;
    background-color: #0f0f0f;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
}

.content {
    padding: 0 18px;
    width: 100vh;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.content a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

.logo {
    color: #fff;
    font-size: 32px;
    font-family: "Roboto", sans-serif;
}

.logo span {
    color: #3183ff;
    padding-left: 2px;
    font-family: "Roboto", sans-serif;
}

.loginButton {
    background: transparent;
    padding: 8px 32px;
    border-radius: 24px;
    color: #fff;
    border: 1.5px solid #fff;
    cursor: pointer;
    transition: all 0.4s;
    font-family: "Roboto", sans-serif;
    margin-left: 5px;
}

.loginButton:hover {
    transform: scale(1.08);
    background-color: #fff;
    color: #0f0f0f;
    font-weight: bold;
}

.nav {
    display: flex;
    align-items: center;
}

.link {
    background-color: #f1f1f1;
    color: #0f0f0f;
    padding: 4px 14px;
    border-radius: 4px;
    margin: 0 14px;
    margin-left: 5px;
}

@media (max-width: 768px) {
    .content {
        flex-direction: row;
        align-items: center; /* Alinha os itens verticalmente no centro */
        padding: 10px; /* Ajusta o padding para telas menores */
        width: 100vh;
    }

    .loginButton {
        padding: 8px 24px; /* Ajusta o tamanho do botão para telas pequenas */
    }

    .link {
        margin: 8px 0; /* Ajusta o espaçamento entre links */
    }
}

@media (max-width: 480px) {
    .logo {
        font-size: 20px; /* Ajusta o tamanho da fonte da logo para telas pequenas */
    }

    .logo span {
        font-size: 20px;
    }

    .loginButton {
        padding: 6px 16px; /* Ajusta o tamanho do botão em telas menores */
    }

    .link {
        padding: 6px 12px; /* Ajusta o padding dos links em telas pequenas */
        margin-left: 5px;
    }

    .header {
        width: 100vh;
    }
}